name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    name: Build / Node ${{ matrix.node-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20, 22, 24 ]

    steps:
    - uses: actions/checkout@v5
    - uses: pnpm/action-setup@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: pnpm
    - run: pnpm install --frozen-lockfile
    - run: pnpm run build
    - run: pnpm run test

  success:
    name: Success
    needs: [build]
    runs-on: ubuntu-latest
    if: always()
    steps:
    - run: jq --exit-status 'all(.result == "success")' <<< '${{ toJson(needs) }}'
    - run: exit 0

  publish-npm:
    name: Publish / npm
    runs-on: ubuntu-latest
    needs: [success]
    if: github.event_name == 'push'
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.GW2T_RELEASE_APP_ID }}
          private-key: ${{ secrets.GW2T_RELEASE_APP_PRIVATE_KEY }}

      - name: Checkout Repo
        uses: actions/checkout@v5
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup git user
        run: |
          git config --global user.email "160784075+gw2treasures-release-bot[bot]@users.noreply.github.com"
          git config --global user.name "gw2treasures-release-bot[bot]"

      - name: Create Release Pull Request
        uses: changesets/action@v1
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        with:
          title: Next Release
          commit: Create new release
          publish: pnpm run release
          setupGitUser: false
